* text=auto eol=lf

/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.pre-commit-config.yaml export-ignore
/README.md export-ignore
/LICENSE export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/icon.png export-ignore
/icon.svg export-ignore
/ToolIcon.afdesign export-ignore
/images/ export-ignore
/Tests/ export-ignore
/project.godot export-ignore
/default_env.tres export-ignore
/icon.png.import export-ignore